# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

# Database caches
schema_cache.json

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/